<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Time Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="light">
    <ion-label>
      <p>Class: <b>{{studentInfo.Student?.className}}</b></p>
      <p>Section: <b>{{studentInfo.Student?.section}}</b></p>
    </ion-label>
  </ion-item-divider>

  <kendo-scheduler
    pading
    [kendoSchedulerBinding]="events"
    [selectedDate]="selectedDate"
    scrollTime="08:00"
  >
    <ng-template kendoSchedulerToolbarTemplate>
      <ul kendoSchedulerToolbarNavigation></ul>
      <ul kendoSchedulerToolbarViewSelector></ul>
    </ng-template>
    <kendo-scheduler-day-view startTime="07:00"> </kendo-scheduler-day-view>
    <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>
  </kendo-scheduler>
</ion-content>
