<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Time Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <kendo-scheduler
      pading
      [kendoSchedulerBinding]="events"
      [selectedDate]="selectedDate"
      (navigate)="onNavigate($event)"
      scrollTime="08:00"
    >
      <ng-template kendoSchedulerToolbarTemplate>
        <ul kendoSchedulerToolbarNavigation></ul>
        <!-- <ul kendoSchedulerToolbarViewSelector></ul> -->
      </ng-template>
      <kendo-scheduler-day-view startTime="07:00"> </kendo-scheduler-day-view>
      <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>
    </kendo-scheduler>
  </ion-item>
</ion-content>
