<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #resetPaswordForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-input
          placeholder="Enter Old Password"
          type="text"
          [(ngModel)]="account.currentPassword"
          name="currentPassword"
          #currentPassword="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
          value=""
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          placeholder="Enter New Password"
          type="password"
          [(ngModel)]="account.newPassword"
          name="newPassword"
          #newPassword="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
          value=""
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="Re-Enter New Password"
          type="password"
          [(ngModel)]="account.re_newPassword"
          name="re_newPassword"
          #re_newPassword="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
          value=""
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-button
    expand="block"
    type="submit"
    (click)="changePWD(resetPaswordForm)"
  >
    Change Password
  </ion-button>
</ion-content>
