<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transport Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group *ngIf="transportDetails">
    <ion-item-divider color="light">
      Towards School
    </ion-item-divider>
    <ion-item>
      <ion-label>
        Route Name :
        <b slot="end">{{transportDetails.route}}</b>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Stop Name :
        <b slot="end">{{transportDetails.stop}}</b>
      </ion-label>
    </ion-item>
    <ion-item>
      <p>Driver Mobile: {{transportDetails.driverMobile}}</p>
    </ion-item>
    <ion-item>
      <p>Driver Name: {{transportDetails.driverName}}</p>
    </ion-item>
    <ion-item>
      <p>Incharge Name: {{transportDetails.inchargeName}}</p>
    </ion-item>
    <ion-item>
      <p>Incharge Mobile: {{transportDetails.inchrgeMobile}}</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group *ngIf="transportDetails">
    <ion-item-divider color="light">
      Towards Home
    </ion-item-divider>
    <ion-item>
      <ion-label>
        Route Name :
        <b slot="end">{{transportDetails.route}}</b>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Stop Name :
        <b slot="end">{{transportDetails.stop}}</b>
      </ion-label>
    </ion-item>
    <ion-item>
      <p>Driver Mobile: {{transportDetails.driverMobile}}</p>
    </ion-item>
    <ion-item>
      <p>Driver Name: {{transportDetails.driverName}}</p>
    </ion-item>
    <ion-item>
      <p>Incharge Name: {{transportDetails.inchargeName}}</p>
    </ion-item>
    <ion-item>
      <p>Incharge Mobile: {{transportDetails.inchrgeMobile}}</p>
    </ion-item>
  </ion-item-group>
</ion-content>
