<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of Notifications">
    <ion-card-header>
      <ion-item>
        <ion-label><b> {{item.title}}</b></ion-label>
        <ion-button color="primary" slot="end">
          {{item.ActivityDate |date:'d MMM yyyy'}}
        </ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-text-wrap">
      <div [innerHTML]="item.description | safeHtml"></div>
      <div *ngIf="item.documentid; then thenBlock" item-end></div>
      <ng-template #thenBlock>
        <ion-footer>
          <ion-toolbar>
            <ion-button
              size="small"
              slot="end"
              href="https://applebee-tito-qa.azurewebsites.net/FileDownload/downloadFile?guid={{activity.documentGUID}}&refId={{activity.ActivityId}}"
            >
              Download <ion-icon name="download"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
