<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tracking Details</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-card>
    <img src="assets/imgs/cmngsoon.png">
    <ion-card-content>
      <ion-card-title>
        Bus Tracking 
        </ion-card-title>
      <p>
       Bus Tracking is under process.this option will coming soon...
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>