<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Holidays</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of holidays">
    <ion-card-header>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <b>{{item.description}}</b></ion-label
        >
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <div><b>Occassion :{{item.description}}</b></div>
      <div><b>From : {{item.start_date |date:'d MMM yyyy'}}</b></div>
      <div><b>To : {{item.end_date |date:'d MMM yyyy'}}</b></div>
    </ion-card-content>
  </ion-card>
</ion-content>
