<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Syllabus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of details">
    <ion-card-header>
      <ion-item>
        <ion-label class="ion-text-wrap"> <b>{{item.title}}</b></ion-label>
        <ion-badge color="primary" slot="end">
          {{item.ActivityDate |date:'d MMM yyyy'}}
        </ion-badge>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="item.description"></div>
    </ion-card-content>

    <div *ngIf="item.documentid; then thenBlock"></div>
    <ng-template #thenBlock>
      <ion-footer>
        <ion-toolbar>
          <ion-button
            size="small"
            slot="end"
            href="https://applebee-tito-qa.azurewebsites.net/FileDownload/downloadFile?guid={{item.documentGUID}}&refId={{item.ActivityId}}"
          >
            Download <ion-icon name="download"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-card>
</ion-content>
